{% extends 'base.html' %}

{% block title %} contact {% endblock title %}

{% block body %}

<!-- slider start  -->

<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/icecream.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>    
</div>

<!-- slider end  -->


<h1 class="text-center py-4">Contact Page</h1> 



{% endblock body %}